<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [hidden]="!showSkip" (click)="onSkipToEnd()" expand="block" fill="clear" shape="round" color="primary">
        跳过
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content nopan>
  <ion-slides pager="false" #slides (ionSlideWillChange)="onSlideWillChange($event)">
    <ion-slide>
      <img src="../../assets/images/splsh_one.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/images/splsh_two.png" alt="">
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
            <img src="../../assets/images/splsh_three.png" alt="">
        </ion-row>
        <ion-row class="fixed-bottom">
                <ion-col size="6">
                  <ion-button (click)="onClick()" expand="block" fill="solid" color="primary">
                    登录
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button (click)="onClick()" expand="block" fill="outline" color="primary">
                    注册
                  </ion-button>
                </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
