ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    position: absolute;
}

.fixed-bottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    width: 98%;
    align-items: center;
}

ion-grid {
    height: 100vh;
}
