<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">
      修改密码
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onChange()" #changeForm="ngForm">
    <ion-list non-padding style="width:95%;margin:auto;">
      <ion-item>
        <ion-label position="floating">旧密码</ion-label>
        <ion-input name="oldPwd" type="password" required [(ngModel)]="user.oldPwd"
          #oldPwd="ngModel" pattern="[0-9a-zA-Z]{6,12}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">新密码</ion-label>
        <ion-input name="newPwd" type="password" required [(ngModel)]="user.newPwd"
          #newPwd="ngModel" pattern="[0-9a-zA-Z]{6,12}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">确认密码</ion-label>
        <ion-input name="confirmPassword" #confirmPassword="ngModel" [lyhConfirm]="newPwd.value"
          [(ngModel)]="user.confirmPwd" required type="password" ></ion-input>
      </ion-item>
      <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none" align="center">
         <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm" align="center"> <!--自定义表单验证-->
            两次密码不一致
          </ion-text>
          <ion-text color="danger" *ngIf="confirmPassword.errors?.required" align="center">
            请输入确认密码
          </ion-text>
      </ion-item>

        <ion-button type="submit" color="primary" expand="full" [disabled]="changeForm.invalid" style="width:90%;margin-top:20px;margin-right:auto;margin-left:auto;">
          提交
        </ion-button>
    </ion-list>
  </form>
</ion-content>
