<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title class="ion-text-center">找回密码</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar color="grey">
  1.输入邮箱或者手机号 > 2.输入验证码 > 3.重置密码
</ion-toolbar>
<ion-content non-padding>
      <div padding-horizontal>
        <form #loginForm="ngForm">
          <ion-list padding-right no-margin>
            <ion-item margin-top class="full-width">
              <ion-label position="floating">邮箱/手机号</ion-label>
              <ion-input name="account" type="text" required="true" [(ngModel)]="account" width="90%"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>新密码</ion-label>
              <ion-input name="password" type="password" required="true" [(ngModel)]="newPassword" width="90%"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>确认密码</ion-label>
              <ion-input name="comfirmPassword" type="password" required="true" [(ngModel)]="confirmPassword" width="90%"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>验证码</ion-label>
              <ion-input name="authcode" type="number" placeholder="请输入验证码" required pattern="\d{0,8}$" [(ngModel)]="inputCode" #authcode="ngModel"></ion-input>
            </ion-item>
              <ion-text text-left color="danger" *ngIf="authcode.invalid && authcode.touched">
                <!-- <p [hidden]="!authcode.errors?.required" padding-start>请输入验证码</p>-->
                <p [hidden]="!authcode.errors?.pattern" font-size="10px" padding-start>验证码格式不正确</p>
              </ion-text>
              <ion-text color="danger" font-size="10px" *ngIf="verifyCode.fail && authcode.touched">
                <div align="center">
                  <p>验证码错误</p>
                </div>
              </ion-text>
          </ion-list>
        </form>
        <div padding-horizontal align="center">
          <ion-button (click)="onClick()" [disabled]="!verifyCode.disable">{{verifyCode.verifyCodeTips}}</ion-button>
          <ion-button expand="full" (click)="checkCode()">
            提交
          </ion-button>
        </div>
      </div>
  
  <lyh-copyright [bottom]="'20px'"></lyh-copyright>
</ion-content>